
@{
    ViewBag.Title = "View";
}

<h1>@ViewBag.Question.Title</h1>

<div class="container">
    <h3>Recent Answers</h3>
    @if (ViewBag.TotalAnswers == 0)
    {
        <div class="alert alert-info">
            No answers found
        </div>
    }
    @if (User.Identity.IsAuthenticated)
    {
        <div class="container">
            @Html.Partial("_AnswerPostForm")
        </div>
    }
    else
    {
        <p>Login to write answers.</p>
    }
</div>