@model IQueryable<Discuzit.Models.Question>
@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        @foreach (var q in Model)
        {
            @Html.Partial("_QuestionCard", q)
        }
    </div>
</div>