@model IQueryable<Discuzit.Models.Question>

@{
    ViewBag.Title = "Questions";
}

<h2>Questions</h2>

@foreach (var q in Model)
{
    <p>@q.Category.CategoryName</p>
    @Html.Partial("_QuestionCard", q)
}

